<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Paris ticket{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo_sanstexte.svg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    {% block nav %}
    {{ include ("menu.html.twig") }}
    {% endblock %}
    <body>
        {% block body %}{% endblock %}
    </body>

 <footer>
     {% block footer %}
         {{ include('footer.html.twig') }}
     {% endblock %}
 </footer>
{% block js %}
{% endblock %}
</html>

